@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500;600;700&display=swap');


:root {
    --primary-color: #6366F1;
    --accent-color: #3f83f8;
    --text-color: #333333;
    --link-color: #2563eb;
    --background-color: #ffffff;
    --light-gray: #f0f0f0;
    --gray: #808080;
    --dark-gray: #555;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}
body{
    height: 100vh;
    background-color: var(--background-color);
    padding: 0.6rem;
}
.header_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.4rem;
    margin: 0 auto;
    max-width: 1280px;
}
.header_left_content{
    display: flex;
    align-items: center;
    gap: 0.625rem;
}
.logo_icon{
    height: 5.875rem;
    width: 1.938rem;
}
.logo_content{
    font-size: 2rem;
    font-weight: bold;
    color: var(--text-color);
}
.nav{
    display: none;
    gap: 1.5rem;
}
@media screen and (min-width:745px){
    .nav{
        display: flex;
    }
}
.nav_link{
    color: #718096;
    font-size: 1.125rem;
    font-weight: 600;
    transition: color 0.1s;
}
.nav_link:hover{
    color: var(--link-color);
}
.header_right_content a{
    border: none;
    display: none;
    border-radius: 0.375rem;
    background-color:var(--primary-color);
    color: var(--background-color) ;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
    
}
@media screen and (min-width:745px){
    .header_right_content a{
        display: block;
    }
}
.header_right_content a:hover{
    background-color: #5254f8;;
}
.header_button{
  border:none;
  display: none;
  border-radius: 0.375rem;
  background-color: var(--background-color);
  font-size: 1rem;
  padding: 0.5rem 0.9rem;
  font-weight: 600;
}
.header_icon{
    height: 1.5rem;
    width: 1.5rem;
    
}
@media screen and (max-width:745px){
    .header_button{
        display: block;
    }
}
.main-section{
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0.6rem;
    align-items: center;
    margin: 0 auto;
}

.content-left{
    text-align: center;
    animation: slideFromLeft 1s ease forwards;
    opacity: 0;
}

@keyframes slideFromLeft {

    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100%{
        opacity: 1;
        transform: translateX(0);
    }
    
}

.section-label{
    font-size: 1.15rem;
    font-weight: 600;
    color: var(--primary-color);
}

.section-title{
    font-size: 2.3rem;
    padding: 1.1rem;
    color: var(--text-color);
}

.section-description{
    color: var(--gray);
    font-size: 1.13rem;
}

.button-group{
    display: flex;
    gap: 2rem;
    padding: 1rem;
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
}

.start-button,
.tour-button{
    
    border: none;
    border-radius: 0.375rem;
    background-color: var(--primary-color);
    color: var(--background-color);
    transform: all  0.1s;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
}

.tour-button{
    background-color: var(--dark-gray);
}

.start-button:hover{
    background-color: #5254f8;
}

.tour-button:hover{
    background-color: var(--gray);
}


.content-right{
    display: flex;
    align-items: center;
    justify-content: center;
}


.image-container{
    border: none;
    border-radius: 1.225rem;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
    height: 50vh;
}

.section-image{
    height: 100%;
    width: 100%;
}

@media screen and (min-width:768px) {
    .main-section{
        flex-direction: row;
    }
    .content-left{
        max-width: 50%;
        text-align: left;
    }
    .section-title{
        padding-left: 0;
    }
    .button-group{
        justify-content: start;
        padding-left: 0;
    }
    .section_label{
        font-size: 1rem;
    }
    .section-title{
        font-size: 3.8rem;
    }
    .image-container{
        height: 67vh;
    }
    .section-description{
        font-size: 1.1rem;
        color: var(--gray);
        width: 78%;
    }
}
.footer_section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 2rem;
    animation: slideFromLeft 1s ease forwards;
}


.footer_social_section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 3.6rem;
    padding: 1rem;
    background-color: var(--light-gray);
    border: none;
    border-radius: 0.625;
    margin-top: 2rem;
    margin-bottom: 1.8rem;
    padding: 1.8rem 2.5rem;
}
.footer_img{
    font-size: 1rem;
    font-weight: 500;
    color: var(--gray);
    display: flex;
    gap: 0.5rem;
}
.svg_img{
    height: 1.56rem;
}
.logo_text{
    font-size: 1rem;
}
 
@media screen and (min-width:640px){
    .footer_social_section{
        grid-template-columns: repeat(4,1fr);
    }
    .footer_heading{
        font-size: 2.3rem;
        font-weight: bold;
    }

}
.cards_section{
    background-color: var(--light-gray);
}

.cards_main_section{
   text-align: center;
   padding: 2.3rem;
   max-width: 800px;
   margin: 0 auto;
}
.cards_heading{
    font-size: 2.2rem;
    font-weight: bold;
}
.cards_desc{
    margin: 1.3rem auto;
    text-align: center;
    color: var(--gray);
    width: 100%;
    font-size: 1rem;
}
.cards_grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
    
}
.cards{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1.2rem;
    /* width: 95%; */
    border-radius: 1rem;
}
.cards_container{
    background-color: var(--background-color);
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cards_img{
    height: 1.5rem;
    width: 1.5rem;
    background-color: var(--background-color);
}
.cards_heading_container{
    color: var(--background-color);
    font-size: 1.3rem;
    margin-top: 1.3rem;
}
.cards_para{
    color: var(--background-color);
    font-size: 1rem;
    width: 100%;
    margin-top: 1.3rem;
}
.cards:nth-child(1){
    background-color:  #4a90e2;
}
.cards:nth-child(2){
    background-color:  #FF6289;
}
.cards:nth-child(3){
    background-color:  #fcbf58;
}
.cards:nth-child(4){
    background-color:  #44bfc3;
}
.cards:nth-child(5){
    background-color:  #77b05d;
}
.cards:nth-child(6){
    background-color: #7d78b1;
}
 
@media screen and (max-width:690px){
    .cards_grid{
        grid-template-columns: repeat(1,1fr);
    }
}
.testimonial_section{
    max-width: 1280px;
    margin: 0 auto;
    background-color: var(--background-color);
    padding: 2rem;
}
.testimonial_content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.testimonial_heading{
    font-size: 1.875rem;
    font-weight: bold;

}
.testimonial_grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2.5rem;
    padding: 1.5rem;
}
.testimonial_cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.3rem;
    gap: 1rem;
    border: solid var(--gray) 1px;
    border-radius: 1rem;
    box-shadow: 0 2px 4px var(--gray);
    
}
.testimonial_para{
    font-size: 0.9rem;
    color: var(--gray);
    text-align: center;
}
.testimonial_img{
    width: 5rem;
    height: 5rem;
}
.avatar_name{
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: 600;
}
.avatar_desc{
    color: var(--gray);
    font-size: 0.9rem;
    margin-top: -1rem;
}
.testimonial_cards:hover{
    border-color: var(--link-color);
    transform: scale(1.05);
    transition-duration: 350ms;
    box-shadow: 0 2px 2.3px var(--link-color);
}
@media screen and (max-width:1000px){
    .testimonial_grid{
         grid-template-columns: repeat(2,1fr);
    }
    
}
@media screen and (max-width:690px){
    .testimonial_grid{
        grid-template-columns: repeat(1,1fr);
    }
}
.newslatter_section{
    padding: 2rem;
    background-color: var(--background-color);
    max-width: 1280px; 
    height: 40vh; 
    margin: 0 auto;
}
.newslatter_content{
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
    background-color: var(--light-gray);
    height: 100%;
    overflow: hidden;

}
.newslatter_left_section{
    width: 50%;
    height: 100%;
    position: relative;
}
.newslatter_img{
   width: 100%;
   height: 100%;
   object-fit: cover;
   object-position: center;
   position: absolute;
   
}
.newslatter_right_section{
    padding: 2.5rem 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    justify-content: center;
    align-items: flex-start;
}
.newslatter_heading{
    color: var(--primary-color);
    font-size: 2.4rem;
    font-weight: bold;
}
.newslatter_desc{
    color: var(--gray);
}
.newslatter_mail{
    display: flex;
    /* flex-wrap: wrap; */
    margin-bottom: 0.8rem;
    gap: 0.6rem;
}
#email_field{
    background-color: var(--background-color);
    /* width: 15%; */
    color: #333;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.5rem 0.75rem;
}
#email_field:focus{
    border: 1px solid var(--link-color);
    box-shadow: 0px 0px 3px rgb(56, 52, 52);
}

.newslatter_button{
    background-color: var(--primary-color);
    border: none;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    color: var(--background-color);
}
.newslatter_button:hover{
    background-color: var(--link-color);
}
.newslatter_right_desc{
    color: var(--gray);
    font-size: 0.8rem;
}
.anchor_service{
    color:var(--link-color);
    text-decoration: underline;
}
.anchor_policy{
    color:var(--link-color);
    text-decoration: underline;
}
@media screen and (max-width:642px){
    .newslatter_left_section{
       display: none;
    }
    .newslatter_heading{
        font-size: 1.5rem;
    }
    .newslatter_section{
        padding: 0;
    }
}
.footer_study_section{
    max-width: 1280px;
    background-color: var(--background-color);
    padding: 1.5rem;
    margin: 0 auto;
}
.footer_study_content{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.footer_study_left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    margin-top: -3.8rem;
    width: 33%;
}
.footer_study_img_text{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.625rem;
}
.logo_study{
    font-size: 1.345rem;
    font-weight: bold;
    color: var(--text-color);
}
.left_study_desc{
    margin-top: -2rem;
    color: var(--gray);
    font-size: 1rem;
}
.left_study_icon{
    display: flex;
    gap: 1rem;
    margin-left: 0;
}
.footer_grid_right{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 5rem;
    margin-top: 3.6rem;  
    width: 58%; 
}
.footer_grid_heading{
    color: var(--text-color);
    font-weight: bold;
    font-size: 1.05rem;
    margin-bottom: 1.65rem;
}
ul{
    list-style-type: none;
}
.footer_list{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.footer_list_anchor{
    color: #777;
    font-size: 0.875rem;
}
.footer_down{
    border-top: solid var(--light-gray) 1px;
    text-align: center;
    background-color: var(--background-color);
    padding-top: 1rem;
    padding-bottom: 2rem;
    margin-top: 3rem;
}
.footer_copyright{
    font-size: 0.75rem;
    color: var(--gray);
}
@media screen and ( max-width:1083px ) {
    .footer_study_content{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 3rem;
        padding: 3rem;
        margin-left:-3rem;  
    }
    .footer_study_left{
        padding: 1.2rem 1.2rem;
    }
    .left_study_desc{
        width: 160px;
    }

   
}
@media screen and ( max-width:948px ){
    .footer_grid_right{
        grid-template-columns: repeat(2,1fr);
        gap: 3.9rem;
        padding-left: 0 auto;
    
    }
}

